[user]
  name = Takumi Kaji
  email = ivezuki3@gmail.com
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
  quotepath    = false
[push]
  default = simple
[alias]
  a = add
  ap = add -p
  b = branch
  bd = branch -d
  bm = branch -m
  ca = commit -v --amend
  ci = commit -v
  cl = clone
  cm = commit -v -m
  co = checkout
  cob = checkout -b
  com = checkout master
  cp = cherry-pick
  d = diff
  dc = diff --cached
  dm = diff origin/master
  f = fetch
  g = grep -n
  l = log -10 --decorate
  lg = log -100 --graph --oneline --decorate
  ll = log -10 --stat -p --decorate
  m = merge
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbm = rebase master
  re = restore
  rfl = reflog
  rs = reset
  sh = show
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  sl = stash list
  sp = stash pop
  st = status
  sw = switch
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[diff]
  compactionHeuristic = true
[ghq]
  root = ~/dev/src
[fetch]
  prune = true
