[user]
  name = Takumi Kaji
  email = ivezuki3@gmail.com
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
  quotepath    = false
  pager =
[pull]
  rebase = true
[push]
  default = simple
[instaweb]
  browser = google-chrome
[browse-remote "github.com"]
  top = https://{host}/{path}
  ref = https://{host}/{path}/tree/{short_ref}
  rev = https://{host}/{path}/commit/{commit}
[alias]
  a = add
  b = branch
  br = browse-remote
  ch = checkout
  co = commit
  d = diff
  g = grep
  k = k
  l = log -10 --reverse --decorate
  ls = log -10 --reverse --stat -p --decorate
  lg = log -20 --graph --oneline --decorate
  m = merge
  r = rm
  s = status
